@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --line-border-empty: #E0E0E0;
    --line-border-fill: #3498db;
}

body {
    font-family: "Muli", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
   text-align: center;
}

.progress {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.circle {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 3px solid var(--line-border-empty);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.circle.active {
    background: #ffffff;
    border-color: var(--line-border-fill)
}

.btn {
    background: #3498db;
    color: white;
    border: none;
    text-align: center;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 30px 8px 30px;
    margin: 5px;
}

.btn:disabled {
    background: #E0E0E0;
}